.ant-layout .homepage-container {
  background-image: url("../../assets/prodImages/twocliffs.jpg");
  height: 100%;
  position: relative;
}

.homepage-body {
  padding: 50px 0 100px 0;
  margin: auto;
  min-width: 700px;
  max-width: 44rem;
  overflow-y:auto;
  height: 100%;
}
::-webkit-scrollbar {
    width: 0px;               /* Remove scrollbar space */
    background: transparent;  /* Make scrollbar invisible */
}

.homepage-main {
  color: #e2f1f9;
}

h1.homepage-main {
  font-size: 3rem;
}

p.homepage-main {
  font-size: 1rem;
  font-weight: 700;
}

.ant-list-item-meta-title > a.homepage-main {
  color: #1890ff;
}

div.margin-row {
  padding: 0 20px;
}

.gutter-box {
  text-align: center;
  padding: 5px 0;
  background-color: rgb(66, 134, 244);
  height: 200px;
}

/* TODO: Move to main css file in the future */
.wrapper-content-margin {
  margin: 2rem;
  padding: 0 16px;
}

.homepage-list {
  text-align: left;
}

.homepage-container .ant-list-split .ant-list-item {
  border-bottom: none;
}

.home-page-list.ant-list {
  margin-top: 2rem;
}

.homepage-links {
  text-align: left;
  margin-top: 50px;
}