.page404-container .page404-header {
  display: inline-block;
  font-size: 6em;
}

.page404-container .page404-sub-header {
  font-size: 3em;
}

.page404-container .page404-top-row i.icon.page404-icon {
  vertical-align: unset;
}
