.resume-container.main-img {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  overflow-y: hidden;
}

.resume-container-body canvas.react-pdf__Page__canvas {
  margin: auto;
}

.react-pdf__Page__textContent {
  display: none;
}