div.signup-form-container {
  min-width: 500px;
  width: 30rem;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
  background-image: linear-gradient(135deg, #A9C1D5, #EDE0CD);
  border: 3px solid #9AB6CB;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.signup-submit-button {
  text-align: center;
}

main.ant-layout-content.fullscreen.registration-container.main-img {
  background-image: url("https://res.cloudinary.com/dsospjk5r/image/upload/v1560839314/backgroundimages/chill_fce66w.jpg");
}

.ant-input.registration-input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  background: transparent;
  margin-bottom: 10px;
  height: 2.5rem;
}

.ant-input-password.registration-input .ant-input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  background: transparent !important;
  margin-bottom: 10px;
  height: 2.5rem;
}

h3.input-label {
  text-align: left;
}

h4.sub-input-label {
  text-align: left;
}

h3.input-label.required::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

h2.registration-header {
  margin-bottom: 40px;
}




