div.blogSearch-container {
  margin-top: 1.5rem;
  display: inline-block;
  width: 75%;
}

div.blogSearch-autocomplete {
  display: inline-block;
  width: 75%;
}

span.blogSearch-input > input.ant-input {

}

div.blogSearch-select div.ant-select-selection {
  background-color: #1890ff;
  color: white;
}

div.blogSearch-select span.ant-select-arrow {
  color: white;
}

div.blogSearch-select > div.ant-select-selection div.ant-select-selection-selected-value {
  line-height: 36px;
}

.blogSearch-option-title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.blogSearch-tags-container {
  display: inline-block;
}

.blogSearch-inputGroup {
  width: 25%;
}

.blogSearch-tag {
  display: inline-block;
  margin-left: 2px;
  color: #1890ff;
}

.global-search-item {
  border-bottom: 1px solid #c4c4c4;
}