.ui.list > .item > .content > .header.blog-item-header {
  margin: 0.75rem auto;
}

.blog-item-media {
  width: 70%;
  margin: 0.5rem auto;
  display: block;
}

/*Mobile layout of blog item media*/
@media only screen and (max-width: 767px) {
  .blog-item-media {
    width: 100%;
  }
}