div.blog-card {
  margin: auto;
}

div.pagination-container {
  text-align: center;
  margin: 2rem;
}

img.blog-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.wrapperContainer {
  height: 40rem;
  text-align: center;
  background-image: url("../../assets/newyorkSkyline.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom; /* Center the image */
  background-size: cover;

  margin-bottom: 4rem;
}

h1.title-header {
  font-size: 3rem;
  color: white;
}

p.p-header {
  font-size: 1.25rem;
  color: white;
}