div.blog-card {
  margin: auto;
}

div.pagination-container {
  text-align: center;
  margin: 2rem;
}

/*img.blog-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}*/

.blog-container {
  background-image: url("../../assets/prodImages/chill.jpg");
}

h1.title-header {
  font-size: 3rem;
  color: white;
}

p.p-header {
  font-size: 1.25rem;
  color: white;
}