div.pagination-container {
  text-align: center;
  margin: 2rem;
}

.blog-container {
  background-image: url("../../assets/prodImages/beach.jpg");
}

.blog-header-container.main-img {
  padding-top: 20px;
  padding-left: 15px;
  margin-left: 100px;
  max-width: 37rem;
  min-width: 600px;
  text-align: left;
  background-image: linear-gradient(135deg, rgba(227, 205, 200, 0.5), rgba(179, 154, 151, 0.2));
  overflow-y: auto;
}

.blog-page-list.ant-list {
  margin-top: 1rem;
}

.homepage-main {
  color: #cdf2f4;
}

.ant-btn.blog-create-button.ant-btn-primary {
  margin: 1rem 0 1.5rem 0;
  font-size: 1.25rem;
  height: 40px;
}

h1.homepage-main {
  color: #aaf4f7;
  font-size: 2.5rem;
}

h2.homepage-main {
  color: #aaf4f7;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

p.homepage-main {
  font-size: 1rem;
}

div.release-list-container {
  margin-bottom: 20px;
}